# Normally ignore everything + root
*
/*

# Toolkit directories
!Editor/
!Editor/Mods/Pathfinder2ndEdition_dda83752-5c01-30f9-6a09-824c7e182090/
!Editor/Mods/Pathfinder2ndEdition_dda83752-5c01-30f9-6a09-824c7e182090/**
!Projects/
!Projects/Pathfinder2ndEdition_dda83752-5c01-30f9-6a09-824c7e182090/
!Projects/Pathfinder2ndEdition_dda83752-5c01-30f9-6a09-824c7e182090/**

# Compiled mod directories
!Mods/
!Mods/Pathfinder2ndEdition_dda83752-5c01-30f9-6a09-824c7e182090/
!Mods/Pathfinder2ndEdition_dda83752-5c01-30f9-6a09-824c7e182090/**
!Public/
!Public/Pathfinder2ndEdition_dda83752-5c01-30f9-6a09-824c7e182090/
!Public/Pathfinder2ndEdition_dda83752-5c01-30f9-6a09-824c7e182090/**

# All file types allowed, except .pak
!*.*
*.pak

# Exclude temporary Osiris files
*/Story/goals.raw
*/Story/log.txt
*/Story/story.div*
*/Story/story_*.dat
*/Story/story_*.txt
